
* {
    font-family: "Montserrat", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 500;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none !important;
}

.bg-primary {
    background-color: #0B63F8 !important;
    border-color: #0B63F8 !important;
}

.bg-secondary {
    background-color: #F0EFEB !important;
}

button:hover {
    cursor: pointer !important;
}

input {
    outline: none !important;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: #ccc !important; /* Optional: Change border color */
    outline: none !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}
